body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: gray;
}

.todo-container {
  width: 55%;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}
.todo-container h1 {
  text-align: start;
}

.add-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
  margin-bottom: 20px;
}

#new-task-input {
  padding: 12px 15px;
  width: 70%;
  margin-right: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#add-task-btn {
  padding: 12px 15px;
  cursor: pointer;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 5px;
}

#task-list {
  list-style: none;
  padding: 5px 0px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
#task-list:empty {
  border: none;
}

#task-list li {
  background: #fff;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
#task-list li:last-child {
  border: none;
}

#task-list li.completed span {
  text-decoration: line-through;
  color: #aaa;
}
#task-list li input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

#task-list span {
  margin-left: 24px;
  text-align: start;
  flex-grow: 1;
}

.delete-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: invert(14%) sepia(78%) saturate(5435%) hue-rotate(357deg)
    brightness(104%) contrast(114%);
}
